{% extends 'base.html' %}

{% block content %}
<section>
    <div class="contentt">
        <header class="dashBb">
            <h2>Property Types</h2>
            <h2>Customers</h2>
        </header>
        <div class="">
            <a class="propmngg" href="{{ url_for('add_property_type') }}"><p>Add New Property Type</p></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>TypeID</th>
                    <th>TypeName</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for type in property_types %}
                <tr>
                    <td>{{ type.TypeID }}</td>
                    <td>{{ type.TypeName }}</td>
                    <td>
                        <button class="button">
                            <a href="{{ url_for('update_property_type', type_id=type.TypeID) }}" class="btn btn-warning">Edit</a>
                        </button>
                        <button class="button">
                            <a href="{{ url_for('delete_property_type', type_id=type.TypeID) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this property type?');">Delete</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
    {% endblock %}
